@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Lobster:400);





body {
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Lobster', display;
  font-size: 3rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #e4d295 !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e4d295 !important;
  border-color: #e4d295 !important;
  color: #615119 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #615119 !important;
  background-color: #d4b858 !important;
  border-color: #d4b858 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #615119 !important;
  background-color: #d4b858 !important;
  border-color: #d4b858 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #cfaf44;
  color: #cfaf44;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #615119;
  background-color: #e4d295;
  border-color: #e4d295;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #615119 !important;
  background-color: #e4d295 !important;
  border-color: #e4d295 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #e4d295 !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #cfaf44 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e4d295;
  border-color: #e4d295;
  color: #76621e;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #e4d295;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #e4d295;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #e4d295;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #e4d295;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #e4d295;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #e4d295;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.offset-1 {
  margin-left: 8.33333%;
}
.offset-2 {
  margin-left: 16.66667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333%;
}
.offset-5 {
  margin-left: 41.66667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333%;
}
.offset-8 {
  margin-left: 66.66667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333%;
}
.offset-11 {
  margin-left: 91.66667%;
}
@media (min-width: 576px) {
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 992px) {
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}
.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}
@media (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 576px) {
  .navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable .navbar-toggler {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-sm > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}
@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-lg > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-lg .navbar-toggler {
    display: none;
  }
}
.navbar-toggleable-xl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.navbar-toggleable-xl > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-toggleable-xl .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-toggleable-xl .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}
.navbar-toggleable-xl > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-collapse {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
}
.navbar-toggleable-xl .navbar-toggler {
  display: none;
}
.card-img {
  width: auto;
}
.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-qI1d8mULUx {
  padding-top: 90px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/fractals-designs-4k-2-1920x1200.jpg");
}
@media (min-width: 992px) {
  .cid-qI1d8mULUx .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-qI1d8mULUx .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-qI1d8mULUx .mbr-text {
    text-align: center;
  }
}
.cid-qI1d8mULUx H1 {
  text-align: left;
}
.cid-qI1d8mULUx B {
  color: #f9f295;
}
.cid-qI1d8mULUx H3 {
  color: #ffffff;
}
.cid-qI1hyBkToQ {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-qI1hyBkToQ .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qI1hyBkToQ .section-text {
  padding: 2rem 0;
}
.cid-qI1hyBkToQ .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qI1hyBkToQ .inner-container {
    width: 100% !important;
  }
}
.cid-qI1hGELLIk {
  padding-top: 45px;
  padding-bottom: 45px;
  background: #f1e8cc;
}
.cid-qI1hGELLIk .media-container-row {
  margin: 0 auto;
  align-items: stretch;
}
.cid-qI1hGELLIk .media-container-row .img-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
}
.cid-qI1hGELLIk .media-container-row .img-item img {
  width: 100%;
  min-height: 1px;
}
.cid-qI1hGELLIk .media-container-row .img-item .img-caption {
  background: #ffffff;
  z-index: 2;
  padding: 1rem 1rem;
  word-break: break-word;
}
.cid-qI1hGELLIk .media-container-row .img-item .img-caption p {
  margin-bottom: 0;
}
.cid-qI1hGELLIk .media-container-row .img-item.item1 {
  padding: 0 2rem 0 0;
}
@media (max-width: 992px) {
  .cid-qI1hGELLIk .img-item {
    width: 100% !important;
  }
  .cid-qI1hGELLIk .img-item.item1 {
    width: 100%;
    flex-basis: initial !important;
    padding: 0 0 2rem 0 !important;
  }
}
.cid-qI1j72roSt {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qI1j72roSt .mbr-text,
.cid-qI1j72roSt blockquote {
  color: #767676;
}
.cid-qI1jShSaXN {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f4efe0;
}
.cid-qI1jShSaXN .counter-container {
  color: #767676;
}
.cid-qI1jShSaXN .counter-container ol {
  margin-bottom: 0;
  counter-reset: myCounter;
}
.cid-qI1jShSaXN .counter-container ol li {
  margin-bottom: 1rem;
}
.cid-qI1jShSaXN .counter-container ol li {
  list-style: none;
  padding-left: .5rem;
}
.cid-qI1jShSaXN .counter-container ol li:before {
  position: absolute;
  left: 0px;
  margin-top: -10px;
  counter-increment: myCounter;
  content: counter(myCounter);
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 40px;
  transition: all .2s;
  color: #ffffff;
  background: #ff3366;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.cid-qI1jShSaXN .mbr-text LI {
  color: #4f4943;
}
.cid-qI1lmMVKGO {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-qI1lmMVKGO .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qI1lmMVKGO .section-text {
  padding: 2rem 0;
}
.cid-qI1lmMVKGO .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qI1lmMVKGO .inner-container {
    width: 100% !important;
  }
}
.cid-qI1lq82LMk {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qI1lq82LMk .mbr-text,
.cid-qI1lq82LMk blockquote {
  color: #767676;
}
.cid-qI1mL22ZOn {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #232323, #b1a374);
}
.cid-qI1mL22ZOn .main {
  flex-direction: row-reverse;
}
.cid-qI1mL22ZOn .main .mbr-section-btn {
  text-align: right;
}
.cid-qI1mL22ZOn .btn {
  margin: 0 0 .5rem 0;
}
.cid-qI1mL22ZOn H2 {
  color: #232323;
}
.cid-qHTq0OWlXK {
  background-image: url("../../../assets/images/p1010289-2-1598x1200.jpg");
}
.cid-qHTq0OWlXK .mbr-section-subtitle {
  letter-spacing: .2rem;
}
.cid-qHTq0OWlXK H1 {
  text-align: right;
}
.cid-qHTrrD8YvW {
  padding-top: 120px;
  padding-bottom: 0px;
  background-color: #f1e8cc;
}
.cid-qHTrrD8YvW .mbr-text,
.cid-qHTrrD8YvW blockquote {
  color: #767676;
}
.cid-qHTrrD8YvW .mbr-text P {
  color: #232323;
}
.cid-qHTrrD8YvW .mbr-text DIV {
  color: #232323;
}
.cid-qHTsKgvj8G {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f1e8cc;
}
.cid-qHTsKgvj8G .mbr-text,
.cid-qHTsKgvj8G blockquote {
  color: #767676;
}
.cid-qHTsKgvj8G .mbr-text DIV {
  color: #232323;
}
.cid-qHTsKgvj8G .mbr-text P {
  color: #232323;
}
.cid-qHTuxKshsw {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f1e8cc;
}
.cid-qHTuxKshsw .mbr-text,
.cid-qHTuxKshsw blockquote {
  color: #767676;
}
.cid-qHTuxKshsw .mbr-text P {
  color: #232323;
}
.cid-qHTuxKshsw .mbr-text DIV {
  color: #232323;
}
.cid-qHTw8dC9vK {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-qHTw8dC9vK .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qHTw8dC9vK .section-text {
  padding: 2rem 0;
}
.cid-qHTw8dC9vK .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qHTw8dC9vK .inner-container {
    width: 100% !important;
  }
}
.cid-qHTH3ehy0A {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #232323;
  background: linear-gradient(45deg, #232323, #b1a374);
}
.cid-qHTH3ehy0A .mbr-section-subtitle {
  color: #767676;
}
.cid-qHTH3ehy0A .btn {
  margin: 0 0 .5rem 0;
}
.cid-qHTH3ehy0A H2 {
  text-align: right;
  color: #e4d295;
}
.cid-qHTxDUUbu7 {
  background-image: url("../../../assets/images/the-art-of-sales-through-story-telling-1-1920x1080.jpg");
}
.cid-qHTxDUUbu7 h1 {
  color: #616161;
}
.cid-qHTxDUUbu7 h2,
.cid-qHTxDUUbu7 h3,
.cid-qHTxDUUbu7 p {
  color: #767676;
}
.cid-qHTxDUUbu7 .mbr-section-subtitle {
  font-style: italic;
}
.cid-qHTxDUUbu7 H1 {
  color: #465052;
}
.cid-qHTxDUUbu7 H3 {
  color: #ffffff;
}
.cid-qHTAMKJ6mK {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #efefef;
}
.cid-qHTAMKJ6mK .mbr-section-subtitle {
  color: #767676;
}
.cid-qHTAMKJ6mK .mbr-text {
  color: #767676;
  text-align: center;
}
.cid-qHTAMKJ6mK .card {
  display: flex;
  position: relative;
  justify-content: center;
}
.cid-qHTAMKJ6mK .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-qHTAMKJ6mK .card-wrapper .card-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.cid-qHTAMKJ6mK .card-wrapper .card-img .mbr-overlay {
  background-color: #efefef;
  display: none;
  transition: opacity .3s;
}
.cid-qHTAMKJ6mK .card-wrapper .card-img .mbr-section-btn {
  display: flex;
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  margin: auto;
  left: 0;
  justify-content: center;
  align-items: center;
}
.cid-qHTAMKJ6mK .card-wrapper .card-img img {
  width: 100%;
  height: 100%;
}
.cid-qHTAMKJ6mK .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-qHTAMKJ6mK .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-qHTAMKJ6mK .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-qHTAMKJ6mK .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-qHTAMKJ6mK .popup-btn .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-qHTAMKJ6mK .popup-btn .mbr-section-btn {
  height: 100%;
  display: flex !important;
  opacity: 0;
}
.cid-qHTAMKJ6mK .popup-btn:hover .mbr-overlay {
  opacity: .5;
}
.cid-qHTAMKJ6mK .popup-btn:hover .mbr-section-btn {
  opacity: 1;
}
.cid-qHTz7GToXB {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-qHTz7GToXB .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qHTz7GToXB .section-text {
  padding: 2rem 0;
}
.cid-qHTz7GToXB .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qHTz7GToXB .inner-container {
    width: 100% !important;
  }
}
.cid-qHTCFfj1cY {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/1-copy-2000x1333.jpg");
}
.cid-qHTCFfj1cY H2 {
  color: #f7ed4a;
}
.cid-qHTCZMAHMa {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qHTCZMAHMa .mbr-text,
.cid-qHTCZMAHMa blockquote {
  color: #767676;
}
.cid-qHTDyL3UDz {
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #0f7699;
}
.cid-qHTDyL3UDz .mbr-section-subtitle {
  color: #767676;
}
.cid-qHTDyL3UDz H2 {
  color: #f1e8cc;
}
.cid-qHTDI5T12V {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qHTDI5T12V .mbr-text,
.cid-qHTDI5T12V blockquote {
  color: #767676;
}
.cid-qHTFHx1oN3 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/building-3-830x466.jpg");
}
.cid-qHTFHx1oN3 H2 {
  color: #232323;
}
.cid-qHTFX3H0tK {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qHTFX3H0tK .mbr-text,
.cid-qHTFX3H0tK blockquote {
  color: #767676;
}
.cid-qHTG2CY2hS {
  padding-top: 60px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/the-art-of-sales-through-story-telling-1-1920x1080.jpg");
}
.cid-qHTGfLUF8x {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qHTGfLUF8x .mbr-text,
.cid-qHTGfLUF8x blockquote {
  color: #767676;
}
.cid-qHTGIMAR1o {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #232323;
  background: linear-gradient(45deg, #232323, #b1a374);
}
.cid-qHTGIMAR1o .mbr-section-subtitle {
  color: #767676;
}
.cid-qHTGIMAR1o .btn {
  margin: 0 0 .5rem 0;
}
.cid-qHTGIMAR1o H2 {
  text-align: right;
}
.cid-qHKTnWOILy {
  padding-top: 135px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/building-830x466.jpg");
}
.cid-qHKTnWOILy H1 {
  text-align: center;
  color: #232323;
}
.cid-qHKTnWOILy H3 {
  color: #232323;
}
.cid-qHKTnWOILy P {
  color: #232323;
}
.cid-qHKXynIdNJ {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-qHKXynIdNJ .line {
  background-color: #f9f295;
  color: #f9f295;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qHKXynIdNJ .section-text {
  padding: 2rem 0;
  text-align: center;
  color: #efefef;
}
.cid-qHKXynIdNJ .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qHKXynIdNJ .inner-container {
    width: 100% !important;
  }
}
.cid-qHKTU5LAlo {
  background: #ffffff;
}
.cid-qHKTU5LAlo .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-qHKTU5LAlo .mbr-figure {
  margin: 0 auto;
}
.cid-qHKTU5LAlo figcaption {
  position: relative;
}
.cid-qHKTU5LAlo figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-qHKTU5LAlo .image-block {
    width: 100% !important;
  }
}
.cid-qHQj6jD8at {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qHQj6jD8at .mbr-section-subtitle {
  color: #767676;
}
.cid-qHQj6jD8at .btn {
  margin: 0 0 .5rem 0;
}
.cid-qHWGy4KxTv {
  padding-top: 30px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/gold-antique-background-patterns-18584-1280x720-1-1280x720.jpg");
}
.cid-qHWGy4KxTv .mbr-section-subtitle {
  font-style: italic;
  letter-spacing: 1rem;
}
.cid-qHTbAyCsnm {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/building-1-830x466.jpg");
}
.cid-qHTbAyCsnm .card-box {
  padding: 0 2rem;
}
.cid-qHTbAyCsnm .mbr-section-btn {
  padding-top: 1rem;
}
.cid-qHTbAyCsnm .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-qHTbAyCsnm h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-qHTbAyCsnm p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-qHTbAyCsnm .mbr-text {
  color: #767676;
  text-align: center;
}
.cid-qHTbAyCsnm .card-wrapper {
  height: 100%;
  padding-bottom: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-qHTbAyCsnm .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-qHVC0xWgAR {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-qHVC0xWgAR .line {
  background-color: #e4d295;
  color: #e4d295;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qHVC0xWgAR .section-text {
  padding: 2rem 0;
  color: #f1e8cc;
}
.cid-qHVC0xWgAR .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qHVC0xWgAR .inner-container {
    width: 100% !important;
  }
}
.cid-qHVIteht5L {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/background-body-1919x1200.jpg");
}
.cid-qHVIteht5L H2 {
  color: #232323;
}
.cid-qHVza1UioC {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qHVza1UioC .mbr-text,
.cid-qHVza1UioC blockquote {
  color: #767676;
}
.cid-qHWxYofQcs {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qHVAoO8Uxj {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/nature-6-1400x425.jpg");
}
.cid-qHVAoO8Uxj H2 {
  color: #232323;
}
.cid-qHVIvJgWNp {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qHVIvJgWNp .mbr-text,
.cid-qHVIvJgWNp blockquote {
  color: #767676;
}
.cid-qI11IC03MT {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qHVIu32oaI {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/12484044843-a099dcbb86-b-1-1024x640.jpg");
}
.cid-qHVIu32oaI SPAN {
  color: #232323;
}
.cid-qHWq7JkJDz {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qHWq7JkJDz .mbr-text,
.cid-qHWq7JkJDz blockquote {
  color: #767676;
}
.cid-qHWypZAOMI {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qHWuv8jUyF {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/1-copy-1-2000x1333.jpg");
}
.cid-qHWuv8jUyF SPAN {
  color: #232323;
}
.cid-qHWuRjzveE {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #f99fb6;
}
.cid-qHWuRjzveE .mbr-text,
.cid-qHWuRjzveE blockquote {
  color: #767676;
}
.cid-qHWuRjzveE .mbr-text {
  color: #232323;
}
.cid-qHWyx9CEp3 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-qI1J075TlH {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/depositphotos-108563362-stock-photo-blurred-background-blurred-people-walking-1-1023x682.jpg");
}
.cid-qI1J075TlH H2 {
  color: #232323;
}
.cid-qHQleyZYEy {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qHQleyZYEy .mbr-text,
.cid-qHQleyZYEy blockquote {
  color: #767676;
}
.cid-qI1H1wppCo {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qHWvHZnRBE {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-qHWvHZnRBE .line {
  background-color: #e4d295;
  color: #e4d295;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qHWvHZnRBE .section-text {
  padding: 2rem 0;
}
.cid-qHWvHZnRBE .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qHWvHZnRBE .inner-container {
    width: 100% !important;
  }
}
.cid-qI1GzWZMUL {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qI1GzWZMUL .mbr-text,
.cid-qI1GzWZMUL blockquote {
  color: #767676;
}
.cid-qI1GWehFy6 {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qI1zXwyBoh {
  background: #ffffff;
}
.cid-qI1zXwyBoh .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-qI1zXwyBoh .mbr-figure {
  margin: 0 auto;
}
.cid-qI1zXwyBoh figcaption {
  position: relative;
}
.cid-qI1zXwyBoh figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-qI1zXwyBoh .image-block {
    width: 100% !important;
  }
}
.cid-qHKU2mIFiX {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #ffffff;
  background: linear-gradient(45deg, #ffffff, #e4d295);
}
.cid-qHKU2mIFiX .image-block {
  margin: auto;
}
.cid-qHKU2mIFiX figcaption {
  position: relative;
}
.cid-qHKU2mIFiX figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-qHKU2mIFiX .image-block {
    width: 100% !important;
  }
}
.cid-qI1xm911uI {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
  position: relative;
}
.cid-qI1xm911uI p {
  color: #767676;
}
.cid-qI1xm911uI .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-qI1xm911uI .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-qI1xm911uI .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  font-weight: 500;
  font-style: normal;
  display: block;
  text-decoration: none !important;
  line-height: normal;
}
.cid-qI1xm911uI .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-qI1xm911uI .card .card-header a.panel-title h4 {
  border: 1px solid #dfdfdf;
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-qI1xm911uI .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-qI1xm911uI .panel-text P {
  text-align: left;
  color: #465052;
}
.cid-qHWk3nboZg {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/1-846x480.jpg");
}
@media (min-width: 992px) {
  .cid-qHWk3nboZg .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-qHWk3nboZg .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-qHWk3nboZg .mbr-text {
    text-align: center;
  }
}
.cid-qHWk3nboZg H3 {
  text-align: left;
}
.cid-qHWk3nboZg B {
  color: #ffffff;
}
.cid-qHWljgwJqf {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-qHWljgwJqf .mbr-text,
.cid-qHWljgwJqf blockquote {
  color: #767676;
}
.cid-qHWljgwJqf .mbr-text P {
  color: #4f4943;
}
.cid-qHWmUqBXWR {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f1e8cc;
}
.cid-qHWmUqBXWR .line {
  background-color: #0f7699;
  color: #0f7699;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qHWmUqBXWR .section-text {
  padding: 2rem 0;
  color: #232323;
}
.cid-qHWmUqBXWR .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qHWmUqBXWR .inner-container {
    width: 100% !important;
  }
}
.cid-qHWmH3uUps {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qHWmH3uUps .mbr-text,
.cid-qHWmH3uUps blockquote {
  color: #767676;
}
.cid-qHWmH3uUps .mbr-text {
  color: #4f4943;
}
.cid-qHWmH3uUps .mbr-text B {
  color: #4f4943;
}
.cid-qHWncQo8xw {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-qHWncQo8xw .line {
  background-color: #c4bc3b;
  color: #c4bc3b;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qHWncQo8xw .section-text {
  padding: 2rem 0;
  color: #e4d295;
}
.cid-qHWncQo8xw .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qHWncQo8xw .inner-container {
    width: 100% !important;
  }
}
.cid-qHWoSmo5pg {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #dbd4b8, #25aab2);
}
.cid-qHWoSmo5pg .main {
  flex-direction: row-reverse;
}
.cid-qHWoSmo5pg .main .mbr-section-btn {
  text-align: right;
}
.cid-qHWoSmo5pg .btn {
  margin: 0 0 .5rem 0;
}
.cid-qHWACX5YEJ {
  background-image: url("../../../assets/images/1-1-852x480.jpg");
}
.cid-qHWACX5YEJ h1 {
  color: #616161;
}
.cid-qHWACX5YEJ h2,
.cid-qHWACX5YEJ h3,
.cid-qHWACX5YEJ p {
  color: #767676;
}
.cid-qHWACX5YEJ .mbr-section-subtitle {
  font-style: italic;
}
.cid-qHWACX5YEJ H1 {
  color: #f3e1e5;
}
.cid-qHWzGKnyXW {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qHWzGKnyXW .mbr-text,
.cid-qHWzGKnyXW blockquote {
  color: #767676;
}
.cid-qHWBcLW1NT {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f99fb6;
}
.cid-qHWBcLW1NT .line {
  background-color: #55b4d4;
  color: #55b4d4;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qHWBcLW1NT .section-text {
  padding: 2rem 0;
  color: #530f20;
}
.cid-qHWBcLW1NT .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qHWBcLW1NT .inner-container {
    width: 100% !important;
  }
}
.cid-qHWBHji9ED {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #530f20, #f99fb6);
}
.cid-qHWBHji9ED .main {
  flex-direction: row-reverse;
}
.cid-qHWBHji9ED .main .mbr-section-btn {
  text-align: right;
}
.cid-qHWBHji9ED .btn {
  margin: 0 0 .5rem 0;
}
.cid-qHWBHji9ED H2 {
  text-align: right;
  color: #f3e1e5;
}
.cid-qHWCTe2Zwt {
  background-image: url("../../../assets/images/gift-of-the-magi-2-830x467.jpg");
}
.cid-qHWCTe2Zwt h1 {
  color: #616161;
}
.cid-qHWCTe2Zwt h2,
.cid-qHWCTe2Zwt h3,
.cid-qHWCTe2Zwt p {
  color: #767676;
}
.cid-qHWCTe2Zwt .mbr-section-subtitle {
  font-style: italic;
}
.cid-qHWCTe2Zwt H1 {
  text-align: left;
  color: #ffffff;
}
.cid-qHWDOxnD7r {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f4efe0;
}
.cid-qHWDOxnD7r .mbr-text,
.cid-qHWDOxnD7r blockquote {
  color: #767676;
}
.cid-qHWDOxnD7r .mbr-text P {
  color: #232323;
}
.cid-qHWEJiLjGX {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #232323, #f1e8cc);
}
.cid-qHWEJiLjGX .main {
  flex-direction: row-reverse;
}
.cid-qHWEJiLjGX .main .mbr-section-btn {
  text-align: right;
}
.cid-qHWEJiLjGX .btn {
  margin: 0 0 .5rem 0;
}
.cid-qHWEJiLjGX H2 {
  color: #efe5c2;
}
.cid-qI16vgf4f3 {
  padding-top: 135px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/new-york-city-snow-on-a-winter-evening-in-the-west-village-xl-1024x731.jpg");
}
.cid-qI16vgf4f3 H1 {
  color: #073b4c;
}
.cid-qI17AKGDY0 {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qI17AKGDY0 .mbr-text,
.cid-qI17AKGDY0 blockquote {
  color: #767676;
}
.cid-qI16PtRFPc {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #e4f6fc;
}
.cid-qI16PtRFPc .line {
  background-color: #149dcc;
  color: #149dcc;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qI16PtRFPc .section-text {
  padding: 2rem 0;
}
.cid-qI16PtRFPc .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qI16PtRFPc .inner-container {
    width: 100% !important;
  }
}
.cid-qI16Q7PAD7 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qI16Q7PAD7 .mbr-text,
.cid-qI16Q7PAD7 blockquote {
  color: #767676;
}
.cid-qI1gjVwIsJ {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-qI1gjVwIsJ .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qI1gjVwIsJ .section-text {
  padding: 2rem 0;
}
.cid-qI1gjVwIsJ .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qI1gjVwIsJ .inner-container {
    width: 100% !important;
  }
}
.cid-qI1gnrPJ6F {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-qI1gnrPJ6F .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-qI1gnrPJ6F .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-qI1gnrPJ6F .mbr-text {
  color: #767676;
}
.cid-qI1gzbwHe7 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-qI1gzbwHe7 .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-qI1gzbwHe7 .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-qI1gzbwHe7 .mbr-text {
  color: #767676;
  text-align: center;
}
.cid-qI1gl84Lo9 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qI1gl84Lo9 .mbr-text,
.cid-qI1gl84Lo9 blockquote {
  color: #767676;
}
.cid-qI18QamIUY {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #073b4c, #55b4d4);
}
.cid-qI18QamIUY .main {
  flex-direction: row-reverse;
}
.cid-qI18QamIUY .main .mbr-section-btn {
  text-align: right;
}
.cid-qI18QamIUY .btn {
  margin: 0 0 .5rem 0;
}
.cid-qI18QamIUY H2 {
  color: #e4f6fc;
}
.cid-qI1rQNRaqe {
  padding-top: 90px;
  padding-bottom: 105px;
  background-image: url("../../../assets/images/thinkstockphotos-494123425-1038x695.jpg");
}
.cid-qI1rQNRaqe H1 {
  color: #4f4943;
}
.cid-qI1tuXMptE {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qI1tuXMptE .mbr-text,
.cid-qI1tuXMptE blockquote {
  color: #767676;
}
.cid-qI1vDyJOqb {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #232323, #787324);
}
.cid-qI1vDyJOqb .main {
  flex-direction: row-reverse;
}
.cid-qI1vDyJOqb .main .mbr-section-btn {
  text-align: right;
}
.cid-qI1vDyJOqb .btn {
  margin: 0 0 .5rem 0;
}
.cid-qI1vDyJOqb H2 {
  color: #e4d295;
}
.cid-qI1LhtzS0C {
  padding-top: 90px;
  padding-bottom: 120px;
  background-image: url("../../../assets/images/mbr-1620x1080.jpg");
}
.cid-qI1LhtzS0C h1 {
  color: #616161;
}
.cid-qI1LhtzS0C h2,
.cid-qI1LhtzS0C h3,
.cid-qI1LhtzS0C p {
  color: #767676;
}
.cid-qI1LhtzS0C .mbr-section-subtitle {
  font-style: italic;
}
.cid-qI1LhtzS0C H1 {
  text-align: left;
  color: #ffffff;
}
.cid-qI1Nz7n4Qv {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-qI1Nz7n4Qv .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qI1Nz7n4Qv .section-text {
  padding: 2rem 0;
}
.cid-qI1Nz7n4Qv .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qI1Nz7n4Qv .inner-container {
    width: 100% !important;
  }
}
.cid-qI1NDhTWFb {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qI1NDhTWFb .mbr-text,
.cid-qI1NDhTWFb blockquote {
  color: #767676;
}
.cid-qI1OseA2rX {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #232323, #5b686b);
}
.cid-qI1OseA2rX .main {
  flex-direction: row-reverse;
}
.cid-qI1OseA2rX .main .mbr-section-btn {
  text-align: right;
}
.cid-qI1OseA2rX .btn {
  margin: 0 0 .5rem 0;
}
.cid-qI1OseA2rX H2 {
  color: #efe5c2;
}
